html, body {
  //position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  cursor: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  //z-index: -1;
}




.container {
  margin: 0 auto;
  width: 60vw;

  .logo {
    position: absolute;
    top: 3%;
    left: 3%;
  }
}

.navContainer {
  margin: 0 auto;
  width: 75vw;

  .logo {
    position: absolute;
    top: 3%;
    left: 3%;
  }
}


.navigation {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10%;


  ul {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-top: 3%;

    a {
      color: #2D2D2D;
      text-decoration: none;
    }

    li {
      list-style: none;
      margin-right: 50px;
      font-family: "Poppins";
      font-size: 1.3rem;
    }
  }
}


.content {

  display: flex;
  flex-direction: row;
  gap: 12px;
  align-self: center;
  flex: 0 0 auto;
  margin-bottom: 80px;


}


.contentHolder {
  height: auto;
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }
}

.contentTitle {
  font-family: "Poppins";
  font-weight: bold;
  padding-left: 4%;
}

.contentDate {
  font-family: "Poppins";
  font-weight: bold;
}

.contentText {
  width: 70%;
}

.contentTextTitle {
  font-family: "Seshat";
  font-size: 2em;
}


.contentTextDescription {
  font-family: "Poppins";
  font-weight: normal;
  color: #8D8D8D;
}


.presidents {
  background-color: #FFB563;
  width: 100vw;
  min-height: 1000px;
  height: auto;
  font-family: "Seshat";
  color: white;
  padding-bottom: 30px;

  .container {
    padding-top: 50px;
    margin-bottom: 100px;

    display: flex;
    flex-wrap: wrap;

    flex-direction: row;


  }

  img {
    max-width: 280px;
  }

  .president {
    flex-basis: 33%;
    //flex: 1 1 0px;
    width: 100%;

    .presidentDescription {
      font-family: "Poppins";
    }

  }

  .discover {
    font-family: "Seshat";
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: white;

    p {
      font-size: 1.5rem;
      margin-right: 15px;
    }

    img {
      padding-top: 5px;
    }
  }

}

.sectionTitle {
  font-family: "Seshat";
  width: 100%;
  font-size: 2.5rem;
}

.juridiqueContainer {
  display: flex;
  flex-direction: row;
  gap: 7%;
  align-items: center;
  margin-bottom: 150px;

  .contentJuridiqueText {
    display: flex;
    flex-direction: column;

    h1, h4 {
      margin-top: 0px;
    }
  }


}

.discoverButton {
  font-family: "Seshat";
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  background-color: #FFB563;

  p {
    margin-right: 5px;
  }

  img {
    padding-top: 5px;
  }
}


.club {
  margin-bottom: 150px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionTitle {
    width: auto;
    height: auto;
    margin: 0;
    font-size: 3.5rem;
  }

  .clubTextBox {
    background-color: #B3DEC1;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .clubText {
      margin: 0 auto;
      width: 70%;

      .clubDescription {
        font-family: "Poppins";
      }

      .discoverButton {
        background-color: white;
        color: black;
      }
    }
  }
}


.partners {
  .sectionTitle {
    width: auto;
    height: auto;
    margin: 0;
    font-size: 3.5rem;
  }

  .partnerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partnerLogos {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70px;

    img {
      max-width: 28%;
      flex: 1;
      flex-basis: 30%;
    }

  }
}


.videos {
  .swiper {
    height: 525px;
  }

  .container {
    max-height: 70%;
    overflow: hidden;
    margin-bottom: 150px;
  }

  .video {
    max-width: 80%;

    a {
      text-decoration: none;
      color: black;
      font-family: "Seshat";
      font-size: 1.5rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .videosBox {
    width: 90%;
    margin: 0 auto;
  }

}

.previousArrow {
  transform: scaleX(-1) !important;
}

.navigationButtons {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 130px;
  justify-content: space-between;
  //position: absolute;

  .nextArrow, .previousArrow {
    background-color: #FFB563;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    user-select: none;

    img {
      align-self: center;
    }
  }

}


.seshat {
  font-family: "Seshat";
  font-weight: normal;
}

.poppins {
  font-family: "Poppins";
}


.contact {
  margin-bottom: 150px;

  .contactForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    input, select, label, textarea {
      display: block;
    }

    select {
      color: #848484;
    }


    div {
      flex: 50%;
    }

    label {
      font-family: "Seshat";
      font-size: 30px;

    }

    input, textarea {
      margin: 15px 0;
      font-family: Poppins;
      font-size: 14px;
      border: none;
      border-bottom: solid 1px #DCDCDC;
      transition: border-bottom 400ms ease-in-out;
    }

    input:hover, input:focus, textarea:hover, textarea:focus {
      border-bottom: solid 1px #FFB563;
      transition: border-bottom 400ms ease-in-out;
    }

    span {
      color: #FFB563;
    }

    textarea {
      width: 100%;
    }

    select {
      margin: 15px 0;
      border: none;
    }

  }

  .submitContactForm {
    border: none;
    background-color: #FFB563;
    width: 120px;
    height: 50px;
    font-family: "Seshat";
    font-size: 1.1rem;
  }
}

.footer {
  padding-bottom: 150px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  a {
    font-family: "Poppins";
    text-decoration: none;
    color: black;
  }
}

/*
CURSOR
*/

.cursor-container {
  z-index: 10;
  pointer-events: none;

  .pointer {
    z-index: 10;
    width: 5pt;
    height: 5pt;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: -2.5pt;
    left: -2.5pt;
    transform: translate(0, 0);
    transition: all 0.05s ease;
  }

  .cursor-wrapper {
    pointer-events: none;
    z-index: 10;
    // z-index: 1;
    position: absolute;
    top: -15pt;
    left: -15pt;
    transform: translate(0, 0);
    width: 30pt;
    height: 30pt;
    transition: all 0.1s ease;


    .cursor {
      pointer-events: none;
      z-index: 10;
      width: 30pt;
      height: 30pt;
      border: 1pt solid black;
      border-radius: 50%;
      transition: width 100ms ease, height 100ms ease;
      transform: rotate(90deg);
    }
  }
}

.blackCircle {
  position: absolute;
  z-index: -1;
  width: 200px !important;
  height: 200px;
  top: 305px;
  left: 90%;
}

.blackAndWhiteCircle {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 2778px;
  left: 81%;
  z-index: 1;
}

.greenCircle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 4550px;
  left: 21%;
  z-index: 1;
}


//Responsive
@media screen and (max-width: 1000px) {

  .logo {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 10px;
  }

  .navigation {
    .dot {
      display: none;
    }

    ul {
      padding: 0;
    }

    .navigationOptions {

      text-align: center;
      flex-direction: column;
    }
  }

  .multipleContent {
    flex-direction: column;
  }
  .contentHolder {
    width: auto;
  }

  .contentText {
    width: 100%;
  }

  .president {
    flex-basis: 100% !important;
    text-align: center;
    img {
      width: 100%;
    }
  }

  .juridiqueContainer {
    flex-direction: column;
    align-items: normal;
    margin-bottom: 100px;

    .discoverButton {
      margin-bottom: 30px;
    }
  }


  .club {
    .container {
      flex-direction: column;
      justify-content: normal;
    }

    .clubTextBox {
      height: auto;
      width: 100%;

      .discoverButton {
        margin: 0 auto;
      }
    }
  }

  .partners {
    .partnerLogos {
      flex-direction: column;
      align-content: center;

      img {
        max-width: none;
      }
    }
  }

  .videos {
    .container {
      overflow: visible;
      margin-bottom: 260px;
    }

    .video {
      max-width: 100%;
    }

    .navigationButtons {
      margin: 0 -15%;
    }
  }

  .footer {
    .container {
      flex-direction: column;

      a {
        margin: 10px;
      }
    }
  }

  .cursor-container {
    display: none;
  }

  .blackAndWhiteCircle {
    top: 429%;
    transform: rotate(241deg) !important;
  }



  .navContainer {
    width: 60vw;
  }

  .navigation ul {
    align-content: center;

    li {
      margin-right: 0;
    }
  }

  .blackAndWhiteCircle, .greenCircle, .blackCircle{
    display: none;
  }

}